<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <dataConfiguration defaultDatabase="GestionProyectos" />
  <connectionStrings>
    <add name="GestionProyectos" connectionString="DATA SOURCE=DIEGOP-PC\SQLEXPRESS; INITIAL CATALOG=GestionProyectos; USER ID=zeus;PASSWORD=1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>